html a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.wrapper {
    display: grid;
    grid-template-areas:
    "head head"
    "lga lga"
    "search search"
    "foot foot"

}

.header{
    grid-area: head;
    height: 100px;
    
    
}
.header__left{
    float: left;
}
.header__right {
    float: right;
}


.lga {
    grid-area: lga;
    height: auto;
   padding-top: 50px;
    justify-self: center;
    padding-bottom: 20px;
}

.lga img {
    height: 90px;
}
.search__cell {
    grid-area: search;
    height: 80px;
    justify-self: center;
}

.foot {
    grid-area: foot;
    height: auto;
    background-color: #f2f2f2;
    position:fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.foot ul {
    padding-left: 0px;
}
.foot li {
    display: inline;
}

.foot__left{
    padding-left: 50px;
}

.foot__right {
    padding-right:50px;
}

#search__btn {
    margin-bottom: 20px;
    width: 350px;
}

form {
    text-align:center;
}

.foot__center p {
    font-family: arial, sans-serif;
    font-size: 14px;
}